* {
    box-sizing: border-box;
}

body {
    background-image: url(/images/BlackJack-BG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 58px;
}

.container {
    display: grid;
}

.button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.stand-button {
    border-radius: 15px;
    padding: 10px;
    background-color: blue;
    width: 20%;
}

.new-deal-button {
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    width: 20%;
}

.hit-button {
    background-color: red;
    border-radius: 15px;
    padding: 10px;
    width: 20%;
}

.dealer-cards-p, .player-cards-p {
    font-family: 'Edu TAS Beginner', cursive;
    color: white;
    font-size: 25px;;
}

.player-score {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 35px;
}

.dealer-score {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 35px;

}

.game-result {
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 35px;
}