* {
    box-sizing: border-box;
}

body {
    background-image: url(/images/BlackJack-BG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    display: grid;
    
}

.button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.stand-button {
    border-radius: 15px;
    padding: 10px;
    background-color: blue;
}

.hit-button {
    background-color: red;
    border-radius: 15px;
    padding: 10px;
}

.player-cards {
    padding-bottom: 30px;
}

#original-deck-container {
    
}